:root {
    --defaultFontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --smoothWhite: #eff5fe;
    --mainBackColor: rgb(119, 190, 252);
    --myBlue: rgb(11, 125, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--defaultFontFamily);
}

body {
    background-color: var(--mainBackColor);
    padding: 0% 5%;
}

header {
    background-color: var(--myBlue);
    display: block;
    margin: auto;
    margin: 25px auto;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(11, 125, 255, 0.8);
}

.horizonFlex {
    display: flex;
    justify-content: space-between;
}

.forWhite {
    color: var(--smoothWhite);
}

table, th, td {
    border: 1px solid black;
}

.control {
    background-color: rgb(52, 147, 255);
    width: max-content;
    padding: 10px;
    border-radius: 5px;
}

td {
    padding: 2px;
}

td:first-child {
    text-align: right;
    padding-right: 10px;
}

.th {
    color: var(--smoothWhite);
    font-weight: 500;
}

.thDiv {
    padding: 5px 35px 5px 5px;
    justify-content: flex-start;
}

.thDiv>*:first-of-type{
    width: 62px;
}


.px18 {
    font-size: 18px;
}

.px20 {
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

.tableDiv {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    padding-right: 10px;
}

/* Scroll bar */

/* Scroll bar */

/* Scroll bar */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}